.button {
  color: @color-white;

  background-color: @color-button-background;
  border: 2px solid @color-button-border;
  border-radius: 5px;
  cursor: pointer;

  transition: all 0.5s;

  &:hover {
    transform: scale(1.2);
  }

  &--load-more {
    width: 100%;
    height: 50px;
    margin: 0 0;

    font-size: 12px;
    text-transform: uppercase;

    &:hover {
      transform: initial;
    }
  }

  &--header {
    padding: 5px 10px;
  }
}
