{
	"parser": "babel-eslint",
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"jest/globals": true
	},
	"rules": {
		"max-len": "off",
		"quotes": "off",
		"require-jsdoc": "off",
		"no-unused-vars": "warn",
		"no-redeclare": "warn",
		"space-infix-ops": "warn",
		"padding-line-between-statements": "warn",
		"function-call-argument-newline": "warn",
		"function-paren-newline": "warn",
		"newline-per-chained-call": "warn",
		"object-curly-spacing": "warn",
		"object-curly-newline": "warn",
		"object-property-newline": "warn",
		"one-var-declaration-per-line": "warn",
		"key-spacing": [
			"warn",
			{
				"beforeColon": false,
				"afterColon": true,
				"mode": "strict"
			}
		]
	},
	"plugins": [
		"jest"
	],
	"extends": [
		"eslint:recommended",
		"google"
	]
}
